<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<!-- <servlet> -->
	<!-- <servlet-name>flashcard</servlet-name> -->
	<!-- <servlet-class>asdf.asdf.asdf.server.GreetingServiceImpl</servlet-class> -->
	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>greetServlet</servlet-name> -->
	<!-- <url-pattern>/plr/greet</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>bonitagwt.html</welcome-file>
	</welcome-file-list>





	<servlet>
		<servlet-name>BugReportService</servlet-name>
		<servlet-class>com.plr.iso29110.server.BugReportServiceImp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BugReportService</servlet-name>
		<url-pattern>com.plr.iso29110.ISO29110/BugReportService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>attachment</servlet-name>
		<servlet-class>com.plr.iso29110.server.Attachment</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>attachment</servlet-name>
		<url-pattern>/attachment/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadAttachment</servlet-name>
		<servlet-class>com.plr.iso29110.server.Attachment</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadAttachment</servlet-name>
		<url-pattern>/uploadAttachment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>processServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.processes.ProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>processServlet</servlet-name>
		<url-pattern>/iso29110/process</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>categoryServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.categories.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>categoryServlet</servlet-name>
		<url-pattern>/iso29110/category</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>consoleLoginServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.login.ConsoleLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>consoleLoginServlet</servlet-name>
		<url-pattern>/iso29110/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>caseServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.cases.CaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>caseServlet</servlet-name>
		<url-pattern>/iso29110/case</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.users.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/iso29110/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/iso29110/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BugReportService</servlet-name>
		<url-pattern>/iso29110/bugReportService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bonitaWebReport</servlet-name>
		<servlet-class>org.bonitasoft.console.server.bam.BonitaWebReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bonitaWebReport</servlet-name>
		<url-pattern>/iso29110/bam/run</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadAttachment</servlet-name>
		<url-pattern>/iso29110/uploadAttachment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/iso29110/loginservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reportingServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.bam.ReportingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reportingServlet</servlet-name>
		<url-pattern>/iso29110/reporting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadAttachment</servlet-name>
		<url-pattern>/iso29110/attachment/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>labelServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.labels.LabelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>labelServlet</servlet-name>
		<url-pattern>/iso29110/label</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>identityServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.identity.IdentityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>identityServlet</servlet-name>
		<url-pattern>/iso29110/identity</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stepServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.steps.StepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stepServlet</servlet-name>
		<url-pattern>/iso29110/step</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>eventServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.server.steps.EventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eventServlet</servlet-name>
		<url-pattern>/iso29110/event</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>attachmentImageServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.AttachmentImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attachmentImageServlet</servlet-name>
		<url-pattern>/iso29110/attachmentImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>formLayoutDownloadServlet</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.FormLayoutDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>formLayoutDownloadServlet</servlet-name>
		<url-pattern>/iso29110/formLayoutDownload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fileUploadServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/iso29110/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>formsServlet</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.FormsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>formsServlet</servlet-name>
		<url-pattern>/iso29110/formsservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>attachmentDownloadServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.AttachmentDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attachmentDownloadServlet</servlet-name>
		<url-pattern>/iso29110/attachmentDownload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>formLoginServlet</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.login.FormLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>formLoginServlet</servlet-name>
		<url-pattern>/iso29110/formlogin</url-pattern>
	</servlet-mapping>
</web-app>
