.error_text_box {
/* 	border: 1px solid red; */
	background: LemonChiffon url("images/icons/validation_error_icon.png")
		no-repeat left center;
	padding-left: 15px !important;
}

.customButton {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}