<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<!-- <servlet> -->
	<!-- <servlet-name>flashcard</servlet-name> -->
	<!-- <servlet-class>asdf.asdf.asdf.server.GreetingServiceImpl</servlet-class> -->
	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>greetServlet</servlet-name> -->
	<!-- <url-pattern>/plr/greet</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>bonitagwt.html</welcome-file>
	</welcome-file-list>





	<servlet>
		<servlet-name>BugReportService</servlet-name>
		<servlet-class>com.plr.iso29110.server.BugReportServiceImp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BugReportService</servlet-name>
		<url-pattern>com.plr.iso29110.ISO29110/BugReportService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>attachment</servlet-name>
		<servlet-class>com.plr.iso29110.server.Attachment</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>attachment</servlet-name>
		<url-pattern>/attachment/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadAttachment</servlet-name>
		<servlet-class>com.plr.iso29110.server.Attachment</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadAttachment</servlet-name>
		<url-pattern>/uploadAttachment</url-pattern>
	</servlet-mapping>


</web-app>
