.chararter {
	font-size: 48pt
}

.pinyin {
	font-size: 14pt;
	font-weight:bold
}

.tone1 {
	color:crimson;
}

.tone2 {
	color:SandyBrown;
}

.tone3 {
	color:CadetBlue;
}

.tone4 {
	color:DarkOrchid;
}

.tone5 {
	color:black;
}