
IMG.accueil {
	width: 200px;
	height: 263px;
	/* 	height: auto; */
	border: 2px solid gray;
}

A IMG.accueil {
	margin: 10px;
	text-decoration: none;
}

IMG.inpage {
	width: 300px;
	height: auto;
	border: 2px solid gray;
}

body { /* 	margin: 50px 0px; */
	padding: 0px;
	text-align: center;
}

#Content {
	width: 800px;
	margin: 0px auto;
	text-align: left;
	padding: 15px;
	/* 	border: 1px dashed #333; */
	/* 	background-color: #eee; */
}

.goHomePanel {
	text-align: right;
	padding: 10px 0px 20px 0px;
	vertical-align: top;
	width: 100%;
}

#Content TABLE {
	width: 100%;
	/* 	height: 500px; */
	/* 	border: 1px solid black; */
}

#accordion {
	width: 500px;
}

#Content TABLE TD {
	vertical-align: top;
	padding: 10px;
}

.mention {
	font-size: small;
	font-style: italic;
	margin-top: 0px;
	padding-left: 2em;
}

h3.ui-state-default {
	margin-bottom: 20px;
}

.ui-accordion .ui-accordion-content {
	background: inherit;
	margin-bottom: 20px;
}


